body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
}

input, button, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #333;
    color: white;
    cursor: pointer;
}

.navbar {
    background: #222;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
